body {
    background-image: url(bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(5px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .logo {
    display: block;
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-form {
    max-width: 320px;
    width: 100%;
    padding: 40px;
    background: #ffffffe6;
    border-radius: 12px;
    box-shadow: 0 10px 30px #000000e6;
    animation: fadeIn 1.5s ease-out;
}

.form-heading {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group .label {
    position: absolute;
    top: -16px;
    left: 12px;
    font-size: 12px;
    color: #58bc82;
    font-weight: 600;
    transition: all 0.3 ease;
    opacity: 0.7;;
}

.input-group input {
    width: 275px;
    padding: 15px 20px;
    font-size: 1rem;
    border: #333;
    border-radius: 2px solid #ddd;
    outline: none;
    transition: all 0.3 ease;
    border-radius: 10px;
}

.input-group input:focus {
    border-color: #58bc82;
    box-shadow: 0 0 10px #58bc8266;
}

.input-group input:focus + .label {
    top: -20px;
    font-size: 11px;
    color: #58bc82;
    opacity: 1;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password a {
    font-size: 14px;
    color: #58bc82;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #45a46b;
}

.submit a{
    text-decoration: none;
    color: rgb(59, 115, 59);
    padding: 9px 135px;
    width: 100%;
}

.submit {
    width: 100%;
    background-color: #58bc8266;
    padding: 15px 1px;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

.submit:hover {
    background-color: #45a46b;
    transform: translatey(-20px);
    box-shadow: 0 5px 20px #58bc8266;
}

.signup-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.signup-link a{
    color: #58bc82;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.signup-link a:hover {
    color: #45a46b;
}