:root {
    --primary-color: #12a334; 
    --secondary-color: #fca311; 
    --background-color: #f9f9f9;
    --text-color: #333333;
    --light-text-color: #ffffff;
    --font-family-primary: Poppins, merriweather, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(pic1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}


header {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 1.5em 5%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.2em;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: var(--light-text-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 1em;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--secondary-color);
}

nav .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}


.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 5%;
}

section {
    background-color: white;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

h2 {
    color: var(--primary-color);
    font-size: 1.8em;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    color: var(--secondary-color);
    margin-top: 20px;
    margin-bottom: 10px;
}


.highlight {
    color: var(--primary-color);
    font-weight: bold;
}

blockquote {
    border-left: 5px solid var(--secondary-color);
    padding-left: 15px;
    margin: 20px 0;
    font-style: italic;
    color: #555;
    background-color: #fff8e1; /* Light yellow background */
    padding: 15px;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 20px 5%;
    margin-top: 40px;
    border-top: 1px solid #ddd;
    color: #3f3b3b;
    font-size: 0.9em;
}


.light-icon {
    font-size: 1.5em;
    color: var(--secondary-color);
    margin-right: 5px;
    display: inline-block;
}


.commitment-list li {
    background-color: #e6f7ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 3px solid var(--primary-color);
}